body {
    margin: 0;
    font-family: "Merriweather", "Segoe UI", Arial, sans-serif;
    background: #f5f7f6;
    color:#3D8168;
}



.hero-title {
    background-image: url("mikahero.jpg");
    background-size: cover;          
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 5rem;
     font-family: "Space Mono", monospace;
    height:  80vh;             

    display: flex;
    justify-content: center;         
    align-items: flex-end;             
    text-align: center;    
}

.navbar {
    background: rgba(255, 255, 255, 0.15);  
    backdrop-filter: blur(6px);             
    position: fixed;
    top: 0;
    width: 100%;
    color: white;
    text-shadow: 
        0 0 4px rgba(0,0,0,0.5),
        0 0 6px rgba(0,0,0,0.25);
    z-index: 10
    }

.navbar .navbar-brand {
    font-size: 1.5rem;
    margin-left: 1.2rem;
    color: white;
    font-weight: 600;
    font-family: "Space Mono", serif;
    }

.navbar .nav-link {
    font-size: 1.1rem;
    margin-right: 1.2rem;
    color: white;
    font-weight: 500;
    }

h1 {
    font-size: 3rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 2px 5px rgba(0,0,0,0.6);
}


h2 {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: "Knewave", system-ui;
}

.section-subtitle {
    font-size: 1.5rem;
    color: #6b7a70;
    font-style: italic;}

.card {
    height: 100%;
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);

}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 30px rgba(0,0,0,0.12);
}

.highlight-skill {
  color: #c76b4f;     
  font-weight: 700;
}

.skills-list {
  max-width: 500px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}
@media (min-width: 992px) {
  .skills-list {
    margin-left: 200px;  
    margin-right: 0;     
  }
}


p {    
    font-size: 1.3rem;
    color: #6b7a70;;
}

li { 
    font-size: 1.2rem;
    color: #6b7a70;;
}

.galleryalign {
    max-width: 900px; 
    margin: 0 auto;
}

.gallery-item img {
    width: auto;  
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    margin: 0.5rem 0;
}

#funfact {
    max-width: 1000px; 
    margin: 0 auto;
}

.funtext {
    font-size: 1.25rem;
    color: #6b7a70;
    line-height: 1.6;
    max-width: 460px;   
    margin-left: auto;
    margin-right: auto;   
}

#funfact img {
    width: 100%;
    max-width: 520px;
    height: auto;
    border-radius: 18px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.12);
    margin-top: 5%;
    margin-bottom: 10%;
}

#funfact img:hover {
    box-shadow: 0 8px 30px rgba(0,0,0,0.12);
    scale: 105%;
}

footer {
    background-color: #e9efec;
    padding: 1.5rem 1rem;
    color: #6b7a70;
    min-height: 100px;
}

.footer-text {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}


.footer-copy {
    font-size: 0.85rem;
    opacity: 0.8;
}